extends /Layout

block content


    link(rel="stylesheet", href= host +"/resources/styles/signIn.css")
    div(id="signInBody")
        div(class="signInContent" id="signInContent")
            div(id = "gpuImgSection")
                img(src= host+ "/resources/icons/gpu3.png" id = "gpuImg")
                span(id = "gpuText") HARDWARE STORE
        
            form(action="" method="post"  id = "formBody")
                
                p(id = "signInTitle") Sign In
                
                label(for="usernameText") Username 
                input(type="text" id = "usernameText" name = "username")
                p(class = "error" id="usernameError") 
               
                label(for="passwordText") Password
                input(type="password" id = "passwordText" name = "password")
                p(class = "error" id="usernameError") 
                p(class = "error" id="signinError")

                input(type="submit", id="submit" value="Signin")
                a(href =  host+ "/user/signup" id="registerLink") Sign Up?
    script(src= host+ "/resources/js/signin.js") 